html, body {
    height: 99%;
}

#content {
    height: 100%;
}


@desktopPadding: 5px;
@desktopTopDistance: 50px;

@windowPadding: 5px;
@inputBoxHeight: 50px;
@handleHeight: 40px;
@windowBarsColor: #eee;
@onlineColor: #0c0;
@offlineColor: #ccc;
@statusSize: 10px;

#windows {
    padding: @desktopPadding;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: @desktopTopDistance;
    overflow: hidden;
}

.border-radius (@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;    
}

.border-radius (@tl, @tr, @br, @bl) {
    -webkit-border-radius: @tl @tr @br @bl;
       -moz-border-radius: @tl @tr @br @bl;
            border-radius: @tl @tr @br @bl;    
}

.window {
    position: absolute;
    width: 300px;
    height: 400px;
    padding: @windowPadding;
    
    /* from bootstrap's modal */
    
    .border-radius(6px);
    
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;

    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
    
    /* end from bootstrap's modal */
    
    .handle {
        margin: -@windowPadding;
        padding: @windowPadding;
        
        margin-bottom: 0;
        padding-bottom: 0;
        
        height: @handleHeight;
        
        .border-radius(5px, 5px, 0, 0);
        
        cursor: move;
        background-color: @windowBarsColor;       
        
        .name {
            margin-left: 1em;
            display: inline-block;
        }
    }
    
    .fileUpload {
        /* workaround - display: none; breaks functionality on Opera */
        
        visibility: hidden;
        position: absolute;
        top: 0;
        left: -9999px;
    }
    
    .chatForm {
        margin: 0;
        padding: 0;
        border: 0;
        
        .inputWrapper {   
            position: absolute;
            left: @windowPadding;
            right: @windowPadding;
            bottom: @windowPadding;
            margin: 0;
            overflow: hidden;
            
            .textareaWrapper {
                display: block;
                overflow: hidden;
                
                textarea {
                    height: @inputBoxHeight;
                    resize: none;
                    margin: 0;
                    width: 100%;
                    
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box; 
                    
                    .border-radius(3px, 0, 0, 3px);
                }
            }
            
            button {
                height: @inputBoxHeight;
                float: right;
                
                .border-radius(0, 3px, 3px, 0);
            }
        }
    }
    
    .windowContent () {
        overflow-y: auto;   
        position: absolute;
        top: @handleHeight + 2 * @windowPadding;
        left: @windowPadding;
        right: @windowPadding;
        word-wrap: break-word;
    }
    
    .users {
        .windowContent;
        
        bottom: @windowPadding;
        
        
        
        .circle (@diameter) {
            .border-radius(50%);
            
            width: @diameter;
            height: @diameter;
        }
        
        .status {
            display: inline-block;
            .circle(@statusSize);
        }
        
        .online {
            background-color: @onlineColor;
        }
        
        .offline {
            background-color: @offlineColor;
        }
    }
    
    .messages {
        .windowContent;
        
        bottom: @inputBoxHeight + 2 * @windowPadding;
        
        .heading {
            background: @windowBarsColor;
            overflow: hidden;
            
            .border-radius(3px);
        
            .author {
                margin-left: 0.5em;
            }
            
            .date {
                float: right;                
                font-size: 0.7em;
                margin-right: 0.5em;
            }
        }
        
        .text {
            clear: both;
        }
    }
}