extend layout
block content
    nav
        a(href='/logout') Log out
    h2 Logged in as #{user.username}
    #windows
        .window
            .handle Window 1
            .message First message
        .window
            .handle Window 2
            .message Second message