extend layout
block content
    #windows
        .window
            .handle Window 1
            .message First message
        .window
            .handle Window 2
            .message Second message