extend layout
block content
    .navbar.navbar-static-top
        .navbar-inner
            span.brand Chat
            span.btn-group.pull-right
                span.btn.dropdown-toggle(data-toggle='dropdown')
                    span
                        i.icon-user
                        span  #{user.username} 
                    span.caret
                ul.dropdown-menu
                    li
                        a(tabindex='-1', href='/logout')
                            i.icon-off
                            span  Log out
    #windows
block scripts
    script(src='/socket.io/socket.io.js')
    script(src='res/js/handlebars.runtime.js')
    script(src='res/js/templates.js')
    script(src='res/js/date.format.js')          
    script(src='res/js/script.js')