extend layout
block content
    nav
        a(href='/logout') Log out
    h2 Logged in as #{user.username}
    #windows
block scripts
    script(src='/socket.io/socket.io.js')
    script(src='res/js/handlebars.runtime.js')
    script(src='res/js/templates.js')
    script(src='res/js/date.format.js')          
    script(src='res/js/script.js')