!!!5
html
    head
        title Chat
        link(rel='stylesheet', href='res/css/bootstrap.min.css')
        link(rel='stylesheet', href='res/css/style.less')
        block styles
    body
        #content
            block content
        script(src='res/js/jquery-1.9.0.min.js')
        script(src='res/js/jquery-ui-1.10.0.custom.min.js')
        script(src='res/js/bootstrap.min.js')
        script(src='res/js/script.js')