extend layout
block styles
    link(rel='stylesheet', href='res/css/login.less')
block content
    .login.well
        h2 Please register
        form(method='post')
            input(type='text', placeholder='Username', name='username').input-block-level
            input(type='password', placeholder='Password', name='password').input-block-level
            button(type='submit').btn.btn-large.btn-primary Register