<div class="messages">
</div>
<form class="chatForm" method="post" action="/messages" id="form{{userId}}">
    <input type="hidden" name="to" value="{{userId}}">
    <div class="inputWrapper">
        <textarea class="input-block-level" name="message" id="message{{userId}}"></textarea>
    </div>
</form>