<div class="messages">
</div>
<form class="chatForm" method="post" action="/messages" id="form{{userId}}">
    <input type="hidden" name="to" value="{{userId}}">
    <div class="inputWrapper">
        <input type="text" name="message" id="message{{userId}}">
    </div>
</form>