<div class="message">
    <div class="heading">
        <span class="author">{{{author}}}</span>
        <span class="date">{{{date}}}</span>
    </div>
    <div class="text">{{{message}}}</div>
</div>