<div class="users">
    <ul class="nav nav-pills nav-stacked">
        {{#each users}}
        <li id="user{{_id}}">
            <a onclick="createChatWindow('{{_id}}')">{{username}}
            {{#if unread}}
                {{{unread}}}
            {{/if}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>