<div class="users">
    <ul class="nav nav-pills nav-stacked">
        {{#each users}}
        <li id="user{{_id}}">
            <a onclick="createChatWindow('{{_id}}')">{{username}}</a>
            {{#if unread}}
            {{{unreadBadge}}}
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>