<div class="window" id="{{id}}">
    <div class="handle">
        <h4 class="name">{{name}}</h4>
        {{#if close}}
        <button class="close" onclick="closeWindow('{{id}}')">&times;</button>
        {{/if}}
    </div>
    {{{content}}}
</div>